<!DOCTYPE html>
<html>
    <title> Library Management System </title>
	<meta name = "viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">  

<head>
    <style>
        body {
          background-image: url("/static/successful_reservation.jpeg");
          background-repeat: no-repeat;
          background-attachment: fixed; 
          background-size: cover;
          background-size: 100% 100%;
        }
        h1{
            text-align: center;
        }
        </style>
    
</head>
<body>
    <h1>Successful Reservation!!!</h1>
    <h1>Wait for a library operator to approve it.</h1>

</body>
</html>